@font-face {
	font-family: 'cowork';
	src:url('../../fonts/icomoon-v4/cowork.eot?jtn6wy');
	src:url('../../fonts/icomoon-v4/cowork.eot?jtn6wy#iefix') format('embedded-opentype'),
		url('../../fonts/icomoon-v4/cowork.woff?jtn6wy') format('woff'),
		url('../../fonts/icomoon-v4/cowork.ttf?jtn6wy') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.icomoon,
[class^="icon-"],
[class*=" icon-"] {
	font-family: 'cowork';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-key:before {
	content: "\e604";
}
.icon-home:before {
	content: "\e605";
}
.icon-connection:before {
	content: "\e600";
}
.icon-clock:before {
	content: "\e606";
}
.icon-print:before {
	content: "\e602";
}
.icon-key2:before {
	content: "\e607";
}
.icon-cogs:before {
	content: "\e608";
}
.icon-stats:before {
	content: "\e609";
}
.icon-mug:before {
	content: "\e60a";
}
.icon-food:before {
	content: "\e603";
}
.icon-rocket:before {
	content: "\e60b";
}
.icon-lightning:before {
	content: "\e60c";
}
.icon-flag:before {
	content: "\e60d";
}
.icon-smiley:before {
	content: "\e60e";
}
.icon-cool:before {
	content: "\e60f";
}
.icon-checkmark-circle:before {
	content: "\e610";
}
.icon-uniE601:before {
	content: "\e601";
}
.icon-history:before {
	content: "\e611";
}

.icon-phone:before {
  content: "\e942";
}
.icon-display:before {
  content: "\e956";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-glass:before {
  content: "\e9a1";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-coffee:before {
  content: "\e601";
}


/*
 * Base font:
*/

body,
button,
input,
select,
blockquote,
textarea 
{
	color: #242424;
	font-family: 'Acumin Pro', 'acumin-pro', 'hk-super', Helvetica, Arial, sans-serif;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-weight: 400;
}

/*
 * Titles and menus:
*/

h1, h2, h3, h4, h5, h6,
input[type="submit"],
.menu-primary,
.menu-toggle,
.entry-footer, 
.entry-meta,
.post-navigation,
.footer-widget-area,
.widget_recent_entries,
.site-footer,
#events_wrap,
.frmcal
{
	font-family: 'Acumin Pro', 'acumin-pro', 'hk-super', Helvetica, Arial, sans-serif;
}

/*
 * Jetpack Carousel font override:
*/
body div.jp-carousel-titleanddesc-title 
{
	font-family: 'Acumin Pro', 'acumin-pro', 'hk-super', Helvetica, Arial, sans-serif !important;
}


