/* @group Book Pages */

.book-page .entry-meta  {
	border-bottom: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.book-page .post-thumbnail {
	margin-top: 1em;
}

.book-page .entry-footer {
	border-top: 2px solid #d1cecd;
	margin-top: 0.5em;
	padding-top: 1em;
}

.page-template-page-biblio .site-main .hentry {
	margin-bottom: 0.2em;
}

.page-template-page-biblio .grid-area h2 {
	font-size: 1.4em;
}

.page-template-page-biblio .grid-wrapper {
	padding-top: 0.5em;
}

.biblio-tags {
	background: #fff;
}

.biblio-tags .content-area {
	padding-top: 0;
	padding-bottom: 2em;
}

.biblio-tag-cloud .cat-item {
	list-style: none;
	float: left;
	line-height: 3;
}


/* @end */
