/* Front Page */

.page-template-front-page .hero .entry-content,
.page-template-front-page-cdf .hero .entry-content {
	background-color: rgba(0,0,0,0.6);
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
	margin: 0 auto 2em auto;
}


.frontpage-iframe-gallery {
	position: relative;
}

.frontpage-iframe {
	padding-bottom: 56.4%;
	position: relative;
}

.iframe-panorama {
	height: 100%;
	width: 100%;
	position: absolute;
}

.frontpage-gallery .widget {
	border-top: 0;
	padding: 0;
	margin-bottom: 1em;
}

.frontpage-gallery {
	/*column-count: 2;*/
	margin-top: 2em;
}

.frontpage-gallery img {
	width: 100%;
	height: auto;
}

.front-item {
	padding: 0;
}
.base-margin {
	padding-right: 24px;
	padding-left: 24px;
}

.front-item-section {
	margin-top: 1em;
}

@media screen and (min-width: 680px) {
	.front-item {
		padding: 0.5em 1em;
	}
}

/* Resp 2 */
@media screen and (min-width: 768px) {	
	.base-margin {
		padding-right: 48px;
		padding-left: 48px;
	}
}

@media screen and (min-width: 1020px) {
	.front-item {
		padding: 0em 2em;
	}
	.base-margin {
		padding-right: 72px;
		padding-left: 72px;
	}
	
	.home .header-member-menu {
		padding: 0.5em 2em;
	}
	/* Page Header */
	.home .site-branding {
		padding: 0;
		margin-left: 2em;
	}
	.home .main-navigation {
		margin-right: 2em;
	}
}

.iframe-container .h2,
.iframe-container .h3 {
	font-size: 100%;
	padding: 0.8em 2em 0em 2em;
	margin: 0 auto;
	text-align: center;
}

.iframe-container .h3 {
	padding: 0em 2em 0.8em 2em;
	font-size: 80%;
	font-weight: normal;
}

.frontpage-iframe-gallery .widget_mc4wp_form_widget {
/*	border: 1px solid #333;*/
	width: 100%;
}

@media only screen 
and (min-width: 1020px) {
	
		.hero .post-358 {
			display: flex;
			justify-content: center;
		}
		
		.hero .post-358 section {
			flex: 1;
		}
	
		.hero .post-358 .entry-content {
			 width: 40%; 
			 margin-left: 0%; 
			 margin-right: 5%; 
		}
		
		.page-template-front-page .hero .entry-content,
		.page-template-front-page-cdf .hero .entry-content {
			margin-bottom: 0;
		}

	.frontpage-gallery .widget {
		padding-top: 0;
		padding-bottom: 0;
	}
	
		.iframe-container {
				position: absolute;
	/*			border: 20px solid rgba(0,0,0,0.6);*/
				background-color: rgba(0,0,0,0.6);
				border-radius: 10px;
				top: 204px;
				right: 5%;
				height: 15em;
				width: 50%;
	/*			padding-right: 10%;*/
				z-index: 10;
				padding: 20px;
			}
			
			.iframe-container-title {
				color: #fff;
				position: absolute;
				z-index: 20;
				left: 35px;
				bottom: 15px;
				
			}
			.iframe-container-title .h2,
			.iframe-container-title .h3 {
				text-align: left;
				padding-left: 0;
			}
			
			iframe.front-google-tour {
				position: relative;
				width: 100% !important;
				height: 100% !important;
				left: 0px;
				display: block;
				border: 10px solid #333;
			}
	

}
