/* Front Page Blocs */

/* Principe des Breakpoints: */
/* On reste dans le mode purement mobile jusqu'à 680px */


/* Bloc Background */

.bloc-a {
}

.bloc-a-header {
	background-size: cover;
	padding: 1.2em 0 1.2em 2em;
}

.bloc-a:nth-child(odd) .bloc-a-header {
	padding-left: 0;
	padding-right: 2em;
}

.bloc-a.state-open .bloc-a-header {
/*	padding-left: 0;
	padding-right: 0;
	padding: 0;*/
}

.bloc-a.state-open .title-style {
/*	padding-top: 1.2em;
	padding-bottom: 1.2em;*/
}

/* Title Styles : Bloc Title */

.front-item .title-style {
	text-align: center;
	color: #e74f4e;
	color: var(--hot-color);
	font-weight: 300;
	font-size: 1.3em;
}

.bloc-a .title-style {
	
	line-height: 120px;
	margin: 0;
	line-height: 1.5;
	padding: 0.3em;
	background-color: rgba(226, 6, 19, 0.65);
	color: #fff;
}

.bloc-a .title-style:hover {
	
}

@media only screen and (max-width: 679px) {
	
	.bloc-a .title-style {
		cursor: pointer;
	}
	
	.state-open .title-style,
	.bloc-a .title-style:hover {
		background-color: #e74f4e;
		background-color: var(--hot-color);
		color: #fff;
	}

	.bloc-a .modify-link {
		display: none;
	}
	
}

@media only screen and (min-width: 680px) {
	
	.front-item .title-style {
		font-size: 1.8em;
	}
	
	.bloc-a-header {
		background-image: none !important;
		padding: 0;
	}
	
	.bloc-a .title-style {
		background-image: none !important;
		background-color: #fff;
		color: #e74f4e;
		color: var(--hot-color);
		line-height: 1.2;
		margin: 0;
		padding: 1em 0 0.7em 0;
		text-align: left;
	}
	
	
}

/* Title Styles : Lego Title */
/* used as submenu on small screens */

.lego {
	background-color: #fff;
}

.lego-title {
	font-size: 1em;
	line-height: 1.2;
	margin: 0;	
	padding: 0.5em 0.25em;
}

.lego-title::before {
	content: "> ";
	font-weight: 400;
	font-size: 0.8em;
}

.lego:nth-child(odd) .lego-title {
	background-color: #F8F3E9;
}

@media only screen and (max-width: 679px) {
	
	.lego-title {
		cursor: pointer;
	}
	
	.state-open > .lego-title,
	.lego-title:hover {
		color: #e74f4e;
	}
	
	.state-open > .lego-title::before {
		content: "↓ ";
		/*transform: rotate(90deg);*/
	}
	
}

@media only screen and (min-width: 680px) {

	.lego-title {
		margin: 20px 0 10px 0;
		font-size: 1.5em;
		font-weight: 300;
		line-height: 2em;
	}
	
}

/* Bloc Content Style*/

.bloc-a-content {
	border-left: 0.7em solid #fff;
}

/* 

Show-Hide

En mode mobile:
On masque le contenu pour ne garder que le titre visible
*/

.jsactive .bloc-a-content {
	display: none;
} 
.jsactive .lego-content {
	display: none;
}
/* override class: .lego-visible */
.jsactive .lego-visible .lego-content {
	display: block;
}


@media only screen and (min-width: 680px) {
	
	.jsactive .bloc-a-content,
	.jsactive .lego .lego-content {
		display: block;
	}
	
	.jsactive .lego-visite-360 .lego-content {
		display: flex;
	}

}

/* Specific Bloc Styling  */

.lego-details .lego-content {
	padding: 1em;
	font-size: 0.78em;
}

@media only screen and (min-width: 680px) {

	.lego-details .lego-content {
		font-size: 0.9em;
	}
}

.lego img {
	display: block;
}


/* Visitez-nous */

.lego.lego-visitez-nous .lego-content {
	display: flex; /* override - keep visible in mobile mode */
}

.lego-visite-360.state-open .lego-content {
	display: flex !important;
}

.lego-visitez-nous .lego-content,
.lego-visite-360 .lego-content {
	height: 100%;
	min-height: 150px;
	background-size: cover;
	
	flex-direction: column;
	justify-content: center;
}

.lego-visitez-nous .lego-content a,
.lego-visite-360 .lego-content a {
	margin: auto;
	z-index: 2;
}

.lego-visite-360 .shade {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
	transition: background-color 0.5s ease-in-out;
}

.lego-visite-360:hover .shade  {
	background-color: rgba(0, 0, 0, 0.00);
}

.lego-visite-360 .lego-content {
	height: 150px;
	position: relative;
}

.lego-visite-360-link {
	display: block;
	height: 100%;
	background: #333;
}

.lego-visite-360-link:hover img {
	opacity: 0.8;
}

.lego-visite-360 img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.lego-carte-google .lego-content {
	height: 150px;
}

.lego-carte-google iframe {
/*	background-image: url("../../img/frontpage/cowork-google-map.jpg");
	background-size: cover;*/
}

.lego-visite-360 iframe,
.lego-carte-google iframe {
	height: 100%;
	width: 100%;
	margin-bottom: 0;
}

.lego-carte-google .attachment-medium {
	display: none;
}

/* @group Gallery */

.lego .gallery {
	margin-bottom: 0;
	padding: 0;
/*	background-color: #e74f4e;*/
}

.lego-photos .gallery-size-thumbnail {
	display: flex;
	height: 100%;
}

.lego-photos .gallery-item {
	padding: 0;
	width: auto;
	flex: 1 1 auto;
}

/* Show only first 4 photos */
.lego-photos .gallery-item:nth-child(1n+5) {
	display: none;
}

.lego-photos .gallery-icon,
.lego-photos .gallery-icon a {
	height: 100%;
}

.gallery .gallery-item .gallery-icon img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.lego-photos a img {
	opacity: 0.8;
	transition: opacity 0.1s ease-in-out;
}

.lego-photos a:hover img {
	opacity: 1 !important;
}

.lego-photos .gallery-caption {
	display: none;
}

/* If only one photo */

.lego-photos img.single-gallery-img {
	height: auto !important;
}

/* @end */




/* Layout - two columns */

@media only screen and (min-width: 680px) {
	
	.lego-visitez-nous .lego-content {
		min-height: 300px;
	}
	
	
	.lego-visite-360 .lego-content,
	.lego-carte-google .lego-content {
		height: 300px;
	}
	
	.bloc-a .bloc-quad {
		
		/*grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;*/
	}
	
	.bloc-a-notre-espace .bloc-quad {
		display: grid;
		grid-template-columns: auto 400px;
		grid-template-areas: 
		    "visit   map" 
				"gallery map" 
		    "space   map";
		background-color: #403f3f;
		background-color: var(--dark-color);
		border-left: 0;
	}
	
	.bloc-a-notre-espace .lego-title,
	.bloc-salle-reunion .lego-title,
	.bloc-trio .lego-title  {
		display: none;
	}
	
	/* Galerie Photos */
	.bloc-a-notre-espace .lego-photos {
		grid-area: gallery;
		height: 150px;
	}
	
	.bloc-a-notre-espace .gallery-item:nth-child(1),
	.bloc-a-notre-espace .gallery-item:nth-child(3) {
		background-color: #e74f4e;
		background-color: var(--hot-color);
	}
	
	.bloc-a-notre-espace .gallery-item:nth-child(1) img,
	.bloc-a-notre-espace .gallery-item:nth-child(3) img {
		opacity: 0.4;
	}
	
	.bloc-a-notre-espace .lego-photos .lego-content {
		height: 150px;
	}
	
	
	.bloc-a-notre-espace .lego-visite-360 {
		grid-area: space;
	}
	.bloc-a-notre-espace .lego-carte-google {
		grid-area: map;
	}
	/* Carte Google */
	
	.jsactive .lego-carte-google {
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	
	.lego-carte-google .lego-content {
		height: 100%;
	}
	
	.lego-carte-google iframe,
	.lego-carte-google .attachment-medium {
		flex: 1 1 auto;
		height: auto;
	}
	
	.lego-carte-google .attachment-medium {
		flex-basis: 30%;
		height: 30%;
		width: 100%;
		object-fit: cover;
	}
	
	.lego-carte-google iframe {
		flex-basis: 70%;
		height: 70%;
	}
	
	
	.lego-carte-google .attachment-medium {
		display: block;
	}
	
}

/* Layout on very large screens */

@media only screen and (min-width: 1000px) {

	.bloc-a-notre-espace .bloc-quad {
		display: block;
		display: flex;
		flex-direction: row;
		align-items: stretch
	}
	
	.bloc-a-notre-espace .lego {
		flex: 1 1 auto;
		width: 0;
		height: 100%;
		min-height: 300px;
	}
	
	.bloc-a-notre-espace .lego {
		height: 400px;
	}
	
	.lego-visitez-nous .lego-content, 
	.lego-visite-360 .lego-content, 
	.lego-carte-google .lego-content,
	.bloc-a-notre-espace .lego-photos,
	.bloc-a-notre-espace .lego-photos .lego-content {
		height: 100%;
	}
	
	
	/* Photos: make 4x4 square */
	
	.bloc-a-notre-espace .lego-photos,
	.bloc-a-notre-espace .lego-photos .lego-content,
	.lego-photos .gallery-size-thumbnail {
		height: 100%;
		min-height: 400px;
	}
	
	.lego-photos .gallery-size-thumbnail {
		flex-wrap: wrap;
		flex-direction: row;
	}
	
	.lego-photos .gallery-item {
		flex-basis: 50%; 
	}
	
	.lego-photos .gallery-item:nth-child(1n) {
		background-color: #fff;
	}
	
	.bloc-a-notre-espace .gallery-item:nth-child(1) img {
		opacity: 0.8;
	}

	.bloc-a-notre-espace .gallery-item:nth-child(1),
	.bloc-a-notre-espace .gallery-item:nth-child(4) {
		background-color: #e74f4e;
	}
	
	.bloc-a-notre-espace .gallery-item:nth-child(1) img,
	.bloc-a-notre-espace .gallery-item:nth-child(4) img {
		opacity: 0.4;
	}
	
}

/* Layout for bloc-basic 
 Used by: Salle de réunion
 
 We have three items:
 - lego-visitez-nous
 - lego-details
 - lego-photos
 
*/

@media only screen and (min-width: 680px) {
	
	.front-item .bloc-basic {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		    "details   photo" 
				"action    photo";
		background-color: #fff;
		border: 1px solid #d6d6d6;
	}
		
		
	}
	
	.bloc-basic .lego-action {
		grid-area: action;
	}
	
	.lego-action .lego-content {
		min-height: 150px;
	}
	
	.bloc-basic .lego-details {
		grid-area: details;
		/*background-color: #F8F3E9;*/
	}
	
	.bloc-basic .lego-details .lego-content {
		padding: 2em;
	}
	
	/* Lego-photos
	*/
	
	.bloc-basic .lego-photos {
		grid-area: photo;
		position: relative;
	}
	
	.bloc-basic .lego-photos .lego-content {
		height: 100%;
	}
	
	.bloc-basic .lego-photos .gallery-item {
		display: none;
	}
	
	.bloc-basic .lego-photos .gallery-item:nth-child(1) {
		display: block;
	}
	
	.bloc-basic .lego-photos .gallery-item:nth-child(2) {
		display: block;
		position: absolute;
		bottom: 20px;
		right: 20px;
		height: 160px;
		width: 160px;
	}
	
	.bloc-basic .lego-photos .gallery-item:nth-child(2) img {
		opacity: 0.4;
	}
	
	
	
	/* Styles Salle Réunion */
	
}
