/* Layout for bloc-basic 
 Used by: Salle de réunion
 
 We have three items:
 - lego-visitez-nous
 - lego-details
 - lego-photos
 
*/

.lego-content li {
	margin-left: 24px;
	text-indent: -24px;
}

@media only screen and (min-width: 680px) {
	
	.front-item .bloc-basic {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		    "details   photo" 
				"action    photo";
		background-color: #fff;
		border: 1px solid #d6d6d6;
	}
			
	.bloc-basic .lego-action {
		grid-area: action;
	}
	
	.lego-action .lego-content {
		min-height: 150px;
	}
	
	.bloc-basic .lego-details {
		grid-area: details;
		/*background-color: #F8F3E9;*/
	}

	
	.bloc-basic .lego-details .lego-content {
		padding: 2em;
	}
	
	/* Lego-photos
	*/
	
	.bloc-basic .lego-photos {
		grid-area: photo;
		position: relative;
	}
	
	.bloc-basic .lego-photos .lego-content {
		height: 100%;
	}
	
	.bloc-basic .lego-photos .gallery-item {
		display: none;
	}
	
	.bloc-trio .lego-photos .gallery-item{
		height: 100%;
	}
	
	.bloc-basic .lego-photos .gallery-item:nth-child(1) {
		display: block;
	}
	
	.bloc-basic .lego-photos .gallery-item:nth-child(2) {
		display: block;
		position: absolute;
		bottom: 20px;
		right: 20px;
		height: 140px;
		width: 140px;
		border: 3px solid #fff;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
	}
	
}

@media only screen and (min-width: 1000px) {
	.front-item .bloc-basic {
		grid-template-columns: 2fr 1fr;
		grid-template-areas: 
		    "details   action" 
		    "details    photo";
	}
	/* colonnes pour le texte */
	.bloc-basic .lego-details .lego-content {
		column-count: 2;
		column-gap: 2em;
	}
	.bloc-basic .lego-details .lego-content p {
		break-inside: avoid;
	}
}

@media only screen and (min-width: 1200px) {
	.front-item .bloc-basic {
		grid-template-columns: 2fr 1fr 1fr;
		grid-template-areas: 
		    "details action photo";
	}
}
