/*--------------------------------------------------------------
3.0 - Elements
--------------------------------------------------------------*/
hr {
	margin-bottom: 24px;
	height: 1px;
	border: 0;
	background-color: #f1f0f0;
}
ul,
ol {
	margin: 0 0 24px 0;
}
ul {
	list-style: square inside;
}
ol {
	list-style: decimal inside;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 5%;
}

@media screen and (min-width: 600px) {
	li > ul,
	li > ol {
		margin-left: 24px;
	}
}	

dt {
	font-weight: bold;
}
dd {
	margin: 0 24px 24px;
}
img {
	height: auto;
	max-width: 100%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 24px;
	width: 100%;
	border-top: 1px solid #d2cfcf;
	border-right: 1px solid #d2cfcf;
}
caption,
th {
	font-weight: bold;
}
th,
td {
	padding: 12px;
	border-bottom: 1px solid #d2cfcf;
	border-left: 1px solid #d2cfcf;
}

/* Footer Widget Area */
.footer-widget-area hr {
	background-color: #e1dfdf;
}

/* Hero */
.hero hr {
	background-color: #fff;
}
.hero th,
.hero td {
	border-bottom-color: #fff;
}

/* Site Top Content */
.site-top-content hr {
	background-color: #302f2f;
}
.site-top-content th,
.site-top-content td {
	border-bottom-color: #302f2f;
}


