/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
7.0 - Alignments
8.0 - Clearings
9.0 - Layout
10.0 - Widgets
--------------------------------------------------------------*/


/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}
.alignnone {
	vertical-align: bottom;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.comment-content:before,
.comment-content:after,
.comment-meta:before,
.comment-meta:after,
.entry-content:before,
.entry-content:after,
.gallery:before,
.gallery:after,
.nav-links:before,
.nav-links:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.site-header:before,
.site-header:after,
.sd-block:before,
.sd-block:after,
.sharedaddy:before,
.sharedaddy:after {
	content: '';
	display: table;
}
.clear:after,
.comment-content:after,
.comment-meta:after,
.entry-content:after,
.gallery:after,
.nav-links:after,
.site-content:after,
.site-footer:after,
.site-header:after,
.sd-block:after,
.sharedaddy:after {
	clear: both;
}

/*--------------------------------------------------------------
9.0 Layout
--------------------------------------------------------------*/
body {
	background: #e1dfdf;
}
.site {
	background: #fff;
}

@media screen and (min-width: 600px) {
	.site {
		width: 600px;
	}
}

@media screen and (min-width: 768px) {	
	.site {
		width: 768px;
	}	
}

@media screen and (min-width: 1020px) {	
	.site {
		width: 1020px;
	}
	
}

/* Grid */
.hero .hentry,
.hero-wrapper,
.no-sidebar .content-area,
.no-sidebar-full .content-area,
.site {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 768px) {	
	.no-sidebar .content-area,
	.no-sidebar-full .content-area {
		float: none;
	}
}

@media screen and (min-width: 768px) {	
	.hero .hentry,
	.hero-wrapper,
	.no-sidebar-full .content-area {
		width: 672px;
	}	
}

@media screen and (min-width: 1020px) {	
	.hero .hentry,
	.hero-wrapper,
	.no-sidebar-full .content-area {
		width: 876px;
	}
	
}


.content-area,
.featured-page,
.footer-navigation,
.footer-widget,
.front-page-widget,
.grid,
.hero .hentry,
.site,
.site-branding
.widget-area {
	width: 100%;
}
.content-area,
.featured-page-area,
.footer-widget-area,
.front-page-widget-area,
.grid-area,
.site-branding,
.site-footer,
.widget-area {
	padding-right: 24px;
	padding-left: 24px;
}
.content-area,
.featured-page-area,
.footer-widget-area,
.front-page-widget-area,
.grid-wrapper,
.widget-area {
	padding-top: 24px;
}

/* Header */
.site-top-content {
	padding: 6px 24px;
	background: #403f3f;
	font-size: 0.875em;
	line-height: 1.71429em;
	text-align: right;
}
.site-header {
	background: #b23d3c;
	color: #fff;
}
.site-logo {
	display: block;
	margin: 24px auto;
	width: auto;
	max-height: 96px;
}

@media screen and (min-width: 768px) {	
	.site-logo {
		max-height: 144px;
	}
}


.site-description,
.site-title {
	text-align: center;
}
.site-description {
	display: none;
	margin-top: -14px;
	margin-bottom: 24px;
	color: #757575;
	font-weight: normal;
	font-size: 0.875em;
	line-height: 1.71429em;
}
.site-title {
	margin-top: 24px;
	padding-bottom: 13px;
	color: inherit;
}
.site-title a,
.site-title a:hover,
.site-title a:focus,
.site-title a:active {
	color: inherit;
}
.header-image {
	display: block;
}
.header-image img {
	display: block;
	margin: 0 auto;
	width: 100%;
}

/* Content */
.site-content {
	position: relative;
	background: #fff;
}

/* Featured Page Area */
.has-quinary .featured-page-area {
	position: relative;
	border-bottom: 2px solid #d2cfcf;
}

/* Grid Area */
.content-wrapper + .grid-area {
	border-top: 2px solid #d2cfcf;
}

/* Footer Widget Area */
.footer-widget-area {
	background: #f1f0f0;
}

/* Footer */
.site-footer {
	background: #403f3f;
	font-size: 0.875em;
	line-height: 1.71429em;
}
.site-info {
	padding: 0;
}

