/*--------------------------------------------------------------
15.4 x >= 1230px
--------------------------------------------------------------*/

@media screen and (min-width: 1230px) {
	/* Layout */
	
	.hero .hentry,
	.hero-wrapper,
	.no-sidebar-full .content-area {
		width: 1086px;
	}
	
	.footer-navigation,
	.footer-navigation + .site-info {
		width: 507px;
	}
	.content-area,
	.main-navigation {
		width: 700px;
	}
	.site-branding {
		width: 314px;
	}
	.featured-page,
	.footer-widget,
	.front-page-widget,
	.grid,
	.widget-area {
		width: 314px;
	}
	.site-logo {
		max-height: 192px;
	}

	/* Content */
	.archive:not(.no-sidebar) .post-thumbnail,
	.blog:not(.no-sidebar) .post-thumbnail,
	.search:not(.no-sidebar) .post-thumbnail,
	.single:not(.no-sidebar) .post-thumbnail {
		width: 772px;
	}
	
}