/*--------------------------------------------------------------
15.3 x >= 1020px
--------------------------------------------------------------*/
@media screen and (min-width: 1020px) {	
	
	.content-area,
	.site-branding,
	.site-info {
		float: left;
	}
	.footer-navigation,
	.main-navigation,
	.widget-area {
		float: right;
	}
	.footer-navigation,
	.footer-navigation + .site-info {
		width: 402px;
	}
	.content-area,
	.main-navigation {
		width: 560px;
	}
	.site-branding {
		width: 244px;
	}
	.featured-page-area,
	.footer-widget-wrapper,
	.front-page-widget-wrapper,
	.grid-area,
	.site-top-content {
		padding-right: 72px;
		padding-left: 72px;
	}
	.featured-page,
	.footer-navigation,
	.footer-widget,
	.front-page-widget,
	.grid,
	.widget-area {
		margin-right: 72px;
		width: 244px;
	}
	.featured-page,
	.footer-widget,
	.front-page-widget,
	.grid {
		float: left;
	}
	.featured-page:nth-of-type(3n+3),
	.footer-widget:nth-of-type(3n+3),
	.front-page-widget:nth-of-type(3n+3),
	.grid:nth-of-type(3n+3) {
		margin-right: 0;
	}
	.featured-page:nth-of-type(3n+1),
	.footer-widget:nth-of-type(3n+1),
	.front-page-widget:nth-of-type(3n+1),
	.grid:nth-of-type(3n+1) {
		clear: left;
	}
	.archive .hentry,
	.blog .hentry,
	.search .hentry,
	.content-area,
	.featured-page,
	.featured-page-area,
	.footer-widget-area,
	.front-page-widget-area,
	.grid,
	.grid-wrapper,
	.widget,
	.widget-area {
		padding-top: 72px;
	}
	.featured-page,
	.footer-widget .widget:first-of-type,
	.front-page-widget .widget:first-of-type,
	.grid:nth-of-type(2),
	.grid:nth-of-type(3) {
		padding-top: 0;
		border-top: 0;
	}
	.comment-list,
	.featured-page,
	.grid,
	.widget {
		padding-bottom: 48px;
	}
	.content-area,
	.footer-widget-area,
	.front-page-widget-area,
	.site-branding,
	.site-footer,
	.widget-area {
		padding-right: 0;
		padding-left: 0;
	}
	
	body[class*="alternate-sidebar"].sidebar-left .content-area,
	.sidebar-right .content-area,
	body[class*="alternate-sidebar"].sidebar-right .widget-area,
	.sidebar-left .widget-area {
		float: left;
		margin-right: 0;
		margin-left: 72px;
	}
	
	body[class*="alternate-sidebar"].sidebar-left .widget-area,
	.sidebar-right .widget-area,
	body[class*="alternate-sidebar"].sidebar-right .content-area,
	.sidebar-left .content-area {
		float: right;
		margin-right: 72px;
		margin-left: 0;
	}
	
	/* Fix margin when NO SIDEBAR */ 
	
	.sidebar-right .content-area {
		float: none;
		margin-right: auto;
		margin-left: auto;
	}
	
	.hero-image .site-header {
		position: relative;
		z-index: 2;
		margin-bottom: -96px;
	}
	.site-logo {
		margin-right: 0;
		margin-left: 0;
		max-height: 168px;
	}
	.site-description,
	.site-title {
		text-align: left;
	}

	/* Widgets */
	.widget-area {
		border-top: 0;
	}

	/* Content */
	.hentry {
		margin-bottom: 48px;
	}
	.archive:not(.no-sidebar) .post-thumbnail,
	.blog:not(.no-sidebar) .post-thumbnail,
	.search:not(.no-sidebar) .post-thumbnail,
	.single:not(.no-sidebar) .post-thumbnail {
		width: 632px;
		margin-left: -72px;
	}
	.archive:not(.no-sidebar) .post-thumbnail img,
	.blog:not(.no-sidebar) .post-thumbnail img,
	.search:not(.no-sidebar) .post-thumbnail img,
	.single:not(.no-sidebar) .post-thumbnail img {
		-moz-border-radius: 0 4px 4px 0;
		-webkit-border-radius: 0 4px 4px 0;
		border-radius: 0 4px 4px 0;
	}
	
	
	
	.error404 .page-content form {
		padding-bottom: 48px;
	}


}
